@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

:root {
  --primary-font-color: #fff;
  --secondary-font-color: rgba(255, 255, 255, 0.7);
  --secondary-font-color-2: rgba(255, 255, 255, 0.5);
  --accent-color-light: #2dba4e;
  --accent-color-dark: #24943e;
}

/* resetting default css */

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--accent-color-light);
}

a:hover .text-dim {
  color: var(--accent-color-light);
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: var(--primary-font-color);
  cursor: pointer;
}
button:focus {
  outline: none;
}

/* utility classes */

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-cl {
  flex-direction: column;
}

.justify-start {
  justify-content: start;
}

.align-items-start {
  align-items: start;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 1rem;
}

.mb-10 {
  margin-bottom: 10px;
}

.text-sm {
  font-size: 0.9rem;
}

.text-sm-2 {
  font-size: 0.8rem;
}

.text-dim {
  color: var(--secondary-font-color-2);
  font-weight: 300;
}

.color-accent {
  color: var(--accent-color-light);
}

.divider {
  height: 0.1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.112);
}

.width-100 {
  width: 100%;
}

.btn {
  padding: 8px 16px;
  border-radius: 4px;
}

.btn-primary {
  background-color: var(--accent-color-dark);
  font-size: 1rem;
  font-weight: 0.9rem;
  transition: background-color 0.2s ease;
}

.btn-secondary {
  background-color: rgba(168, 168, 168, 0.1);
  border: 1px solid rgba(168, 168, 168, 0.4);
  font-weight: 0.9rem;
  transition: background-color border 0.2s ease;
}

.btn-primary:hover {
  background-color: #1c7430;
}

.btn-secondary:hover {
  background-color: rgba(168, 168, 168, 0.2);
  border: 1px solid rgba(168, 168, 168, 0.8);
}

/* ********************************/

.container,
.main-container {
  padding: 13px 24px 13px 24px;
  max-width: 1440px;
  margin-inline: auto;
}
.main-container {
  padding-block: 40px 10px;
}

/* default active navlink class */
a.active {
  color: var(--accent-color-light);
}

body {
  background-color: #0d1117;
  color: #fff;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#root > div {
  height: 100vh;
  flex-direction: column;
}

main {
  width: 100%;
}

.navbar {
  background-color: #010409;
  width: 100%;
  /* border-bottom: 1.4px solid rgba(47, 47, 47, 0.8); */
  box-shadow: 1px 0 2px rgba(108, 107, 107, 0.7);
}

.navbar .title {
  display: inline-block;
  margin-left: 10px;
}

.navbar ul {
  gap: 16px;
}

/* Footer */

.footer {
  width: 100%;
  background-color: #191f27;
  text-align: center;
  padding-block: 15px;
  color: #ccc;
}

.footer .flex {
  justify-content: center;
  gap: 20px;
}

/* about page */
.about-container h1::after {
  content: 'v1.0.0';
  font-size: 0.8rem;
  color: var(--secondary-font-color);
  margin-left: 10px;
}

.about-container p {
  color: var(--secondary-font-color);
  margin-bottom: 10px;
}

/* not found page */
.not-found-container .main-container {
  flex-direction: column;
  font-size: 1.5rem;
  gap: 8px;
}

.not-found-container .btn {
  margin-top: 10px;
  gap: 5px;
}

/* home page */
.home-container {
  padding: 20px;
}

/* user card */

.user-results {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.user-card {
  background-color: #1b1d21;
  border-radius: 8px;
  gap: 18px;
  padding: 16px;
  justify-content: start;
}

.user-card .user-info {
  height: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 6px;
  font-weight: 600;
}

.user-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-card a {
  font-size: 0.75rem;
  color: var(--secondary-font-color-2);
}

.user-card a:hover {
  color: var(--accent-color-light);
}

/* search user component */
.search-container {
  margin-bottom: 40px;
  height: 40px;
}

.search-container form {
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 500px;
}

.search-container .form-control {
  flex: 1;
  display: inline;
}

.search-container input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  height: 40px;
  width: 100%;
  padding: 5px 30px 5px 10px;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.search-container .btn {
  height: 100%;
}

.search-container .btn-primary {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* alert */
.alert-container {
  font-size: 0.85rem;
  margin-block: 2px;
  color: var(--secondary-font-color);
}

/* user container */

.user-container {
  align-items: start;
  margin-top: 24px;
  line-height: 24px;
  height: 100%;
  font-size: 1rem;
}

.user-container .user-tags span {
  padding-inline: 10px;
  border-radius: 12px;
  margin-right: 10px;
}

.user-container .user-tags span:first-child {
  background-color: #3ef0672e;
  color: #3ef068;
}

.user-container .user-tags span:last-child {
  background-color: #4cb9f32e;
  color: #4cb9f3;
}

.user-container .left-section {
  flex-direction: column;
  align-items: start;
  gap: 20px;
  max-width: 300px;
  padding-inline: 10px;
}
.user-container .profile-pic-container img {
  width: 100%;
  border-radius: 50%;
}

.user-container .right-section {
  flex: 1;
}

/* repos container */
.repos-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  line-height: 1.5;
}

.repos-container a {
  color: var(--accent-color-light);
  word-break: break-all;
}

.repos-container a:hover {
  text-decoration: underline;
  color: var(--accent-color-light);
}

.repos-container .repo-card {
  border: 1px solid rgba(255, 255, 255, 0.19);
  padding: 12px 18px;
  border-radius: 4px;
  margin-top: 7px;
  gap: 18px;
}

.repos-container .repo-card .language-circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #9a9a9a;
}

.repos-container .repo-card .public-repo {
  border: 1px solid rgba(255, 255, 255, 0.19);
  padding-inline: 8px;
  border-radius: 10.1px;
}

.repos-container .repo-card .repo-stat {
  padding-inline: 8px;
  border-radius: 10.1px;
}

.repos-container .repo-card .stars {
  background-color: #f37e4c2f;
  color: #f37e4c;
}

.repos-container .repo-card .forks {
  background-color: #4cb9f32f;
  color: #4cb9f3;
}

/* for small screens */

@media (max-width: 1030px) {
  .user-results {
    grid-template-columns: repeat(3, 1fr);
  }
  .user-container .left-section {
    max-width: 250px;
  }
}

@media (max-width: 920px) {
  .user-results {
    grid-template-columns: repeat(2, 1fr);
  }

  .repos-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 640px) {
  .user-results {
    grid-template-columns: repeat(1, 1fr);
  }
  .user-container {
    flex-direction: column;
    gap: 4rem;
  }
  .user-container .left-section {
    max-width: 100%;
  }

  .user-personal-info {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  .user-personal-info .profile-pic-container {
    width: 20%;
  }
}
