@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

:root {
  --primary-font-color: #fff;
  --secondary-font-color: rgba(255, 255, 255, 0.7);
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #2dba4e;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container,
.main-container {
  padding-inline: 20px;
  max-width: 1080px;
  margin-inline: auto;
}

.main-container {
  padding-inline: 40px;
}

/* default active navlink class */
a.active {
  color: #2dba4e;
}

body {
  background-color: #23282d;
  color: #fff;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  line-height: 23px;
}

#root > div {
  height: 100vh;
  flex-direction: column;
}

.navbar {
  background-color: #16191c;
  width: 100%;
  padding-block: 13px;
}

.navbar .title {
  display: inline-block;
  margin-left: 10px;
}

.navbar ul {
  gap: 16px;
}

/* Footer */

.footer {
  width: 100%;
  background-color: #191f27;
  text-align: center;
  padding-block: 15px;
  color: #ccc;
}

.footer .flex {
  justify-content: center;
  gap: 20px;
}

/* about page */
.about-container h1::after {
  content: 'v1.0.0';
  font-size: 0.8rem;
  color: var(--secondary-font-color);
  margin-left: 10px;
}

.about-container p {
  color: var(--secondary-font-color);
  margin-bottom: 10px;
}
