@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

:root {
  --primary-font-color: #fff;
  --secondary-font-color: rgba(255, 255, 255, 0.7);
  --secondary-font-color-2: rgba(255, 255, 255, 0.5);
  --accent-color-light: #2dba4e;
  --accent-color-dark: #24943e;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--accent-color-light);
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: var(--primary-font-color);
  cursor: pointer;
}
button:focus {
  outline: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 8px 16px;
  border-radius: 4px;
}

.btn-primary {
  background-color: var(--accent-color-dark);
  font-size: 1rem;
  font-weight: 0.9rem;
  transition: background-color 0.2s ease;
}

.btn-primary:hover {
  background-color: #1c7430;
}

.container,
.main-container {
  padding-inline: 24px;
  max-width: 1080px;
  margin-inline: auto;
}

.main-container {
  padding: 20px;
}

/* default active navlink class */
a.active {
  color: var(--accent-color-light);
}

body {
  background-color: #23282d;
  color: #fff;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#root > div {
  height: 100vh;
  flex-direction: column;
}

main {
  width: 90%;
}

.navbar {
  background-color: #16191c;
  width: 100%;
  padding-block: 13px;
}

.navbar .title {
  display: inline-block;
  margin-left: 10px;
}

.navbar ul {
  gap: 16px;
}

/* Footer */

.footer {
  width: 100%;
  background-color: #191f27;
  text-align: center;
  padding-block: 15px;
  color: #ccc;
}

.footer .flex {
  justify-content: center;
  gap: 20px;
}

/* about page */
.about-container h1::after {
  content: 'v1.0.0';
  font-size: 0.8rem;
  color: var(--secondary-font-color);
  margin-left: 10px;
}

.about-container p {
  color: var(--secondary-font-color);
  margin-bottom: 10px;
}

/* not found page */
.not-found-container .main-container {
  flex-direction: column;
  font-size: 1.5rem;
  gap: 8px;
}

.not-found-container .btn {
  margin-top: 10px;
  gap: 5px;
}

/* home page */
.home-container {
  padding: 20px;
}

/* user card */

.user-results {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.user-card {
  background-color: #1b1d21;
  border-radius: 8px;
  gap: 18px;
  padding: 16px;
  justify-content: start;
}

.user-card .user-info {
  height: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 6px;
  font-weight: 600;
}

.user-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border: 1px solid var(--secondary-font-color); */
}

.user-card a {
  font-size: 0.75rem;
  color: var(--secondary-font-color-2);
}

.user-card a:hover {
  color: var(--accent-color-1);
}

/* search user component */
.search-container {
  padding-block: 40px;
  max-width: 500px;
  margin-inline: auto;
}
.search-container form {
  justify-content: center;
}

.search-container .form-control {
  flex: 1;
  display: inline;
  position: relative;
}

.search-container .form-control .clear-input-btn {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 2;
  color: rgba(35, 40, 45, 0.6);
  transform: translateY(calc(21px - 50%));
}

.search-container input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  height: 40px;
  width: 100%;
  padding: 5px 30px 5px 10px;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.search-container .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-block: 10px;
}

/* alert */
.alert-container {
  font-size: 0.85rem;
  margin-block: 2px;
  color: var(--secondary-font-color);
}

@media (max-width: 1030px) {
  .user-results {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 920px) {
  .user-results {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  .user-results {
    grid-template-columns: repeat(1, 1fr);
  }
}
